body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #f0ebeb;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 80%;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    padding: 5px;
    margin-left: 20px;
}

.header button {
    padding: 5px 9px;
}

.doctor-list {
    margin-top: 20px;
}

.doctor-card {
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: white;
}

.doctor-card h3 {
    margin-top: 0;
}

.doctor-card p {
    margin: 5px 0;
}

.doctor-card button {
    width: 100%;
    padding: 10px;
    background-color: #778fa9;
    color: white;
    border: none;
    cursor: pointer;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    text-align: center;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.menu li a.active,
.menu li a:hover {
    background-color: #ddd;
    color: #555;
}

/* New Styles for Doctor Availability */
.doctor-availability {
    margin-top: 20px;
}

.doctor-availability label {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.doctor-availability input[type="checkbox"] {
    margin-right: 10px;
}

.doctor-status {
    margin-top: 20px;
}

.doctor-status h3 {
    margin-top: 0;
}
